# venvs
.venv/
venv/
env/

# OS cruft
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo


# BUT keep our bundled serving model in the repo
!src/serving/model/
!src/serving/model/**

# Keep trained artifacts for Docker image
!artifacts/preprocessing.pkl
!artifacts/model.pkl
!mlp_classification.h5

actions_runs.json
...